body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  height: 100vh;
}

.section-2 {
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s ease-in; /* Duration of fade-in */
}

.fade-in {
  opacity: 1; /* Fully visible when faded in */
}

.button {
  margin-top: 10px;
}

.button button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}
